<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Party Up!</title>
    <!--  Favicon -->
    <link href="/styles/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/styles/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Neuton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">


</head>

<body>
    {{!-- Navbar --}}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand font" href="/index">Party Up!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link fontTwo" href="/index">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/games" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Game Library
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/game/1">Dungeons & Dragons</a>
                        <a class="dropdown-item" href="/game/6">Settlers of Catan</a>
                        <a class="dropdown-item" href="/game/4">Pokemon Go</a>
                        <a class="dropdown-item" href="/game/2">Warhammer 40,000</a>
                        <a class="dropdown-item" href="/game/3">Pathfinder</a>
                        <a class="dropdown-item" href="/game/5">Magic the Gathering</a>
                        <a class="dropdown-item" href="/game/7">Chess</a>
                        <a class="dropdown-item" href="/game/8">Pandemic</a>
                    </div>
                </li>
                {{!--
                <li class="nav-item">
                    <a class="nav-link fontTwo" href="/profile">Player Profile</a>
                </li> --}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/games" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Genres
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/genre/Cooperative">Cooperative</a>
                        <a class="dropdown-item" href="/genre/Role-playing">Role-playing</a>
                        <a class="dropdown-item" href="/genre/Social">Social</a>
                        <a class="dropdown-item" href="/genre/Strategy">Strategy</a>
                        <a class="dropdown-item" href="/genre/Trading Card">Trading Card</a>
                    </div>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0 ml-auto">
                {{!-- <p>{{username}}</p> --}}
                {{>navbar/navbar-block}}
            </form>


        </div>
    </nav>

    {{{body}}} {{!-- Footer --}} {{!--
    <footer class="footerContainer"> --}} {{!--
        <footer class="navbar sticky-bottom justify-content-center navbar-dark bg-dark footer">

{{!-- Footer --}}
{{!-- <footer class="footerContainer"> --}}
  <footer class="navbar sticky-bottom justify-content-center navbar-dark bg-dark footer">
   
    <p class="navbar-brand footer-text" id="copyright">
      Built by:&nbsp;&nbsp;
      <a class="author" href="https://github.com/aideed4" target="_blank"> Abdullahi Aideed, </a>
      <a class="author" href="https://github.com/becoskie" target="_blank">Ray Becoskie, </a>
      <a class="author" href="https://github.com/nbrasaemle" target="_blank">Nicole Brasaemle, </a>
      and
      <a class="author" href="https://github.com/awvala" target="_blank">Andrew Vala</a>&nbsp;|&nbsp;&copy;2018
    </p>
  </footer>
{{!-- </footer> --}}
{{!-- Script Links --}}
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKgJ9RtC7USuIago4nSYEgJbn5yL_EnZw&callback=initMap&libraries=places,geometry"
    async defer></script>
  <script src="../js/index.js"></script>

</body>

</html>