<div class="container">
    <br>
    <h2 class=" font">{{username}}'s Dashboard</h2>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="profile-label">Parties Joined: </h3>
        </div>
    </div>
    {{#unless joinedParties}}
    <div class="row">
        <div class="col-md-12">
            <h4 class="font">There are no parties you are apart of at this time </h4>
        </div>
    </div>
    <div class="row wrapper">
        {{/unless}} {{#each Users_games}} {{>parties/party-block}} {{/each}}
        <br>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3 class="profile-label">Hosted Parties: </h3>
        </div>
    </div>

    {{#unless hostedParties}}
    <div class="row">
        <div class="col-md-12">
            <h4 class="font">You are not hosting any parties at this time </h4>
        </div>
    </div>
    <div class="row wrapper">
        {{/unless}} {{#each Hosted_games}} {{>parties/hosted-party-block}} {{/each}}
    </div>
    <br>

    <div class="row">
        <div class="col-sm-12 center" id="create-party">
            <h4 class="font">Don't see a game or party to play with? Create your own!</h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary fontTwo" id="create-btn" data-toggle="modal" data-target="#gameModal">Create
                a Party</button>
            <br>
            <br>
        </div>
    </div>
   {{> games/games-newparty}}
</div>