<!-- When the User clicks on a game or the GameLibrary Nav dropdown, they go here -->
<div class="container">
    {{#each games}}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="font">{{this.game_name}}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4 class="fontTwo">Genre: </h4>
            <h4 class="fontTwo">{{this.genre}}</h4>
        </div>
        <div class="col-sm-6">
            {{!-- image? --}}
        </div>
    </div>
    {{/each}}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="fontTwo">Parties Available for this game: </h4>
        </div>
    </div>
    {{#unless signedIn}}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="fontTwo">You must be signed in to view the parties available</h4>
        </div>
    </div>
    {{/unless}}
    {{#if signedIn}}
    {{#unless partiesForGame}}
 <div class="row">
        <div class="col-sm-12">
            <h4 class="fontTwo">No parties available for this game</h4>
        </div>
    </div>
    {{/unless}}
    <div class="row wrapped gameContainer">
        {{#each gameParties}} {{> games/games-block}} {{/each}}
    </div>
    {{/if}}
</div>

<script src="js/gameID.js" type="text/javascript"></script>