<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="font">{{game_name}}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4 class="fontTwo">Genre: </h4>
            <h4 class="fontTwo">{{genre}}</h4>
        </div>
        <div class="col-sm-6">
            {{!-- image? --}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="fontTwo">Parties Available for this game: </h4>
        </div>
    </div>
    {{#unless user}}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="fontTwo">You must be signed in to view the parties available</h4>
        </div>
    </div>
    {{/unless}}
    {{#if user}}
    {{#unless partiesForGame}}
 <div class="row">
        <div class="col-sm-12">
            <h4 class="fontTwo">No parties available for this game</h4>
        </div>
    </div>
    {{/unless}}
    <div class="row wrapped">
        {{#each gameParties}} {{> games/games-block}} {{/each}}
    </div>
    {{/if}}
</div>