<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{game_name}}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Genre: {{genre}}</h4>
        </div>
        <div class="col-sm-6">
            {{!-- image? --}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Parties Available for this game: </h4>
        </div>
    </div>
    {{#unless signedIn}}
    <div class="row">
        <div class="col-sm-12">
            <h4>You must be signed in to view the parties available</h4>
        </div>
    </div>
    {{/unless}}
    {{#if signedIn}}
    {{#unless partiesForGame}}
 <div class="row">
        <div class="col-sm-12">
            <h4>No parties available for this game</h4>
        </div>
    </div>
    {{/unless}}
    <div class="row wrapped">
        {{#each gameParties}} {{> games/games-block}} {{/each}}
    </div>
    {{/if}}
</div>