<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Party Up: Home</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Neuton" rel="stylesheet">
    <!-- Bootstrap and CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles/styles.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand fontTwo" href="index.html">Party Up!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link fontTwo" href="index.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Game Library
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a> -->
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link fontTwo" href="./profile.html">Player Profile</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0 ml-auto">

                <button type="button" class="btn btn-outline-light nav-btn" data-toggle="modal" data-target="#loginModal">Login</button>

                <button class="btn btn-outline-light nav-btn" type="button" data-toggle="modal" data-target="#signupModal">Sign Up</button>
            </form>


        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid bkgd ">
        <div class="container">
            <h1 class="display-3 font j">Party Up</h1>
            <h2 class="font j">With Games!</h2>
            <!-- <p class="lead fontTwo">Game-Finder is a place to create a </p> -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <h2 class="font">Search games to play:</h2>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control fontTwo" id="gameSearch" aria-describedby="gameSearch" placeholder="Search a game">
                    </div>
                    <button type="button" class="btn btn-primary fontTwo">Search</button>
                </form>
            </div>
            <div class="col-sm-4">
                

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 fontTwo" id="searchHidden">
                <h4>Cards or options in the space below of the search or no search and just options</h4>
            </div>
        </div>
        <!-- Modals -->
        <!-- Login Modal -->

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginmodalid">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6 class="card-subtitle mb-2 text-muted">If you already have an account, if you do not then close and click Sign Up!</h6>
                        <form>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="loginInputPassword" placeholder="Password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sign Up Modal -->

        <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Sign Up!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6 class="card-subtitle mb-2 text-muted">If you do not have an account, fill out the following:</h6>
                        <form>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="input" class="form-control name" id="user-id" aria-describedby="nameHelp" placeholder="Enter name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
                            </div>
                            <div class="form-group">
                                <label for="avatarGender">Gender:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genderRadios" id="genderRadios1" value="option1" checked>
                                    <label class="form-check-label" for="genderRadios1">
                                        Female
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genderRadios" id="exampleRadios2" value="option2">
                                    <label class="form-check-label" for="genderRadios2">
                                        Male
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <nav class="navbar sticky-bottom justify-content-center navbar-dark bg-dark footer">
        <p class="navbar-brand" id="copyright">
            <p>Built by:</p>
            <p>
                <a class="author" href="https://github.com/aideed4" target="_blank"> Abdullahi Aideed,</a>
            </p>
            <p>
                <a class="author" href="https://github.com/becoskie" target="_blank"> Ray Becoskie,</a>
            </p>
            <p>
                <a class="author" href="https://github.com/nbrasaemle" target="_blank"> Nicole Brasaemle</a>
            </p>
            <p>and</p>
            <p>
                <a class="author" href="https://github.com/awvala" target="_blank"> Andrew Vala</a>&nbsp;|&nbsp;&copy;2018</p>
        </p>
    </nav>

    <!-- Script links -->

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKgJ9RtC7USuIago4nSYEgJbn5yL_EnZw&callback=initMap&libraries=places,geometry"
        async defer></script>
    <script src="../public/js/index.js"></script>
</body>

</html>