{{!-- Jumbotron with video --}}
<div class="jumbotron jumbotron-fluid bkgd ">

  <video autoplay {{!-- loop --}} poster="images/catanstaticimage.jpg"  muted>
    <source src = "images/gameexample.mp4" type= "video/webm"> 
    <source src = "images/gameexample.ogv" type= "video/ogv">
    <source src="images/gameexample.mp4" type="video/mp4">
  </video>
  <div class="container jcontain">
    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4 vid-content">
        <h2 class="font" id ="search-label">Find Your Next Adventure!</h2>
        {{!-- <form>
          <div class="form-group">
            <input type="search" class="form-control fontTwo" id="gameSearch" aria-describedby="gameSearch" placeholder="Search a game">
          </div>
          <button type="button" class="btn btn-primary fontTwo">Search</button>
        </form> --}}
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
</div>
{{!-- End Jumbotron --}} {{!-- Start content --}}
<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="images/game_images/d&d.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title game-label">Dungeons & Dragons</h4>
          <a href="/game/1" data-id="1" class="btn btn-primary">View Game Page</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="images/game_images/settlers-of-catan.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title game-label">Settlers of Catan</h4>
          <a href="/game/6" data-id="6" class="btn btn-primary">View Game Page</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="images/game_images/pokemongo-go.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title game-label">Pokemon Go</h4>
          <a href="game/4" data-id="4" class="btn btn-primary">View Game Page</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="images/game_images/magic.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title game-label">Magic the Gathering</h4>
          <a href="game/5" data-id="5" class="btn btn-primary">View Game Page</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="images/game_images/pandemic.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title game-label">Pandemic</h4>
          <a href="game/8" data-id="8" class="btn btn-primary">View Game Page</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="images/game_images/war_hammer copy.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title game-label">Warhammer 40,000</h4>
          <a href="game/2" data-id="2" class="btn btn-primary">View Game Page</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 fontTwo" id="hint">
      <br>
      <h5>Don't see a game you are searching for?<a href="/signin" class="btn btn-dark nav-btn">Log in</a>
        or <a href="/signup" class="btn btn-dark nav-btn">Sign Up</a>  and
        create your own!</h5>
    </div>
  </div>
</div>