<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile: Party Up!</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Neuton" rel="stylesheet">
    <!-- Bootstrap and CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles/styles.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand fontTwo" href="index.html">Party Up!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link fontTwo" href="index.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fontTwo" href="">Game Library</a>
                </li>
                <li class="nav-item font">
                    <a class="nav-link" href="">Profile</a>
                </li>
                <!-- <li class="nav-item font">
                  <a class="nav-link disabled" href=""></a>
                </li> -->
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid bkgd ">
        <div class="container">
            <h1 class="display-3 font j">Party Up</h1>
            <h2 class="font j">With Games!</h2>
            <br>
            <h1 class="display-3 font j">Player Profile</h1>
            <!-- <p class="lead fontTwo">Game-Finder is a place to create a </p> -->
        </div>
    </div>
    <div class="container">
        <!-- <h1 class="font">Player Profile</h1> -->
        
        
        <div id="map">
                <div id="infowindow-content">
                    <img src="" width="16" height="16" id="place-icon">
                    <span id="place-name" class="title"></span>
                    <br>
                    <span id="place-address"></span>
                </div>
            </div>
        <h3 class="font">Don't see a game or party to play with? Create your own!</h3>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gameModal">
            Create a Party
        </button>

        <!-- Modal -->
        <div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create a New Party!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Game select</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Dungeons & Dragons</option>
                                    <option>Magic</option>
                                    <option>Pandemic</option>
                                    <option>Pathfinder</option>
                                    <option>PokemonGo</option>
                                    <option>Settlers of Catan</option>
                                    <option>Warhammer</option>
                                    <option>Bring Your Own Game (BYOG)</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="party-name">Party Name:</label>
                                <input type="text" class="form-control" id="party-name" placeholder="name">
                            </div>
                            <div class="form-row">
                                <label for="address-input" class="labelStyle">Address</label>
                            </div>
                            <div id="address-container">
                                <input class="form-control" id="address-input" type="text" placeholder="Enter a location" name="Address" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Player Level Select (Optional):</label>
                                <p class="card-subtitle mb-2 text-muted">If a specific level is not selected, anyone with any level can play</p>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Beginner level</option>
                                    <option>Moderate level</option>
                                    <option>Experienced level</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="party-name">Maximum Number of Players:</label>
                                <input type="text" class="form-control" id="num-players" placeholder="number">
                            </div>
                            <div class="form-group">
                                <label for="date">Date of Party:</label>
                                <div class="form-row">

                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Date">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Time">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="new-game">Create Game</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <nav class="navbar sticky-bottom justify-content-center navbar-dark bg-dark footer">
        <p class="navbar-brand" id="copyright">
            <p>Built by:</p>
            <p>
                <a class="author" href="https://github.com/aideed4" target="_blank"> Abdullahi Aideed,</a>
            </p>
            <p>
                <a class="author" href="https://github.com/becoskie" target="_blank"> Ray Becoskie,</a>
            </p>
            <p>
                <a class="author" href="https://github.com/nbrasaemle" target="_blank"> Nicole Brasaemle</a>
            </p>
            <p>and</p>
            <p>
                <a class="author" href="https://github.com/awvala" target="_blank"> Andrew Vala</a>&nbsp;|&nbsp;&copy;2018</p>
        </p>
    </nav>

    <!-- Script links -->

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0O0N_lrboA9D8sJedLi0qXl0r3nSeJKM&callback=initMap&libraries=visualization,places,geometry"
        async defer></script>
    <script src="../public/js/index.js"></script>
</body>

</html>