<div class="col">
    <div class="card party-cards">
        <div class="card-header">
            {{party_name}}
        </div>
        <div class="card-body">
            {{!-- <h5 class="card-title">{{game_name}}</h5> --}}
            <p class="card-text">Date: {{date}}</p>
            <p class="card-title">Time: {{time}}</p>
            <a href="/parties/:partyid" class="btn btn-primary">View Party</a>
        </div>
    </div>
</div>