<!-- Modal -->
<div class="modal party-modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a New Party!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <div aria-hidden="true">&times;</div>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Game select</label>
                        <select class="form-control" id="game-name">
                            <option value="1">Dungeons & Dragons</option>
                            <option value="5">Magic the Gathering</option>
                            <option value="8">Pandemic</option>
                            <option value="3">Pathfinder</option>
                            <option value="4">Pokemon Go</option>
                            <option value="6">Settlers of Catan</option>
                            <option value="2">Warhammer</option>
                            <option value="7">Chess</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="party-name">Party Name:</label>
                        <input type="text" class="form-control" id="party-name" placeholder="name">
                    </div>
                    <div class="address-card" id="address-card">
                        <div class="form-row">
                            <label for="address-input" class="labelStyle">Address</label>
                        </div>
                        <div id="address-container">
                            <input class="form-control" id="address-input" type="text" placeholder="Enter a location" onFocus="geolocate()" name="Address"
                                required>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Player Level Select:</label>
                        <p class="card-subtitle mb-2 text-muted"></p>
                        <select class="form-control" id="experience-level">
                            <option>Any level</option>
                            <option>Beginner level</option>
                            <option>Moderate level</option>
                            <option>Experienced level</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="party-name">Maximum Number of Players:</label>
                        <input type="text" class="form-control" id="num-players" placeholder="number">
                    </div>
                    <div class="form-group">
                        <label for="date">Date:</label>
                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="time">Time:</label>
                        <input type="text" class="form-control" placeholder="00:00">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="new-party">Create Party</button>
            </div>
        </div>
    </div>
</div>