HTML {
  min-height: 100%;
}

body {
  background-image: url("../images/what-the-hex-dark.png");
}

.list-group-item {
  line-height: 2.5;
}

/* Backgrounds */
.bkgd {
  /* background-image: url("../images/what-the-hex.png");  */
}

/* Font Styling: */
.font, h3, .card-title {
  /* font-family: 'Neuton', serif; */
  font-family: 'Metamorphous', cursive;
  /* font-weight: bold; */
}

.fontTwo {
  font-family: 'Lato', sans-serif;
}

h3, h5, .font {
  text-align: center;
  color:aqua;
}
.j {
  color:rgba(33, 130, 247, 1.0);
  text-align: center;
}
/* Aligning */
h2, h4, .col-sm-4 {
  text-align: center;
}

.nav-btn{
  margin:5px;
}

/* video and jumbotron */
.jumbotron {
  position: relative;
  overflow: hidden;
  /* background-color:black; */
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  object-fit: cover;
  opacity:0.8;
}
.jumbotron .jcontain {
  z-index: 2;
  position: relative;
}
/* Row */
.row {
  margin:10px 0px;
}

/* Footer */
.footer{
  color: white;
	text-align: center;
	line-height: 1.5;
	padding: 10px;
	font-size:12px;
	border-top: solid 2px rgb(152, 165, 160);
  margin-top: 20px;
  min-width: 100%;
  /* position: fixed; */
  bottom: 0;
  z-index: 9999;
}

/*Map CSS*/

.list-group-item {
  line-height: 2.5;
}
.form-row {
  width: 800px;
}

#map {
  min-height: 200px;
  max-height: 400px;
}